*{
	box-sizing: border-box;
}

.container {
	border: none;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
}

#chicken {
	background-color: #D3D3D3;
	
}

#beef {
	background-color: #D3D3D3;
	
}

#sushi {
	background-color: #D3D3D3;
	
}

p {
	padding: 10px;
	margin: 0px;
}

h2 {
	padding: 10px;
}

li.nav-content {
	margin-top: 30px;
	margin-bottom: 0px;
}